<div class="card my-5">
  <div class="card-body">
    <h1>Comment</h1>

    <%= render 'form', comment: @comments %>

    <%= link_to 'Back', posts_path, class: 'btn btn-light mt-2' %>
  </div>
</div>
